Repository feelpp/feelpp, pull requests merged in 2022-05, with the labels that each got.

#1862 1861 improve remesh test
  .gitignore
  CMakePresets.json
  feelpp/feel/feelcore/parameter.hpp
  feelpp/feel/feelmesh/dump.hpp
  feelpp/feel/feelmesh/filters.hpp
  feelpp/feel/feelmesh/geoelement.hpp
  feelpp/feel/feelmesh/remesh.hpp
  feelpp/feel/feelmesh/remesher.cpp
  feelpp/feel/feelmesh/remesher.hpp
  python/pyfeelpp/feelpp/mesh.hpp
  python/pyfeelpp/tests/CMakeLists.txt
  python/pyfeelpp/tests/test_remesh.py
  testsuite/feelmesh/CMakeLists.txt
  testsuite/feelmesh/domain_2d.geo
  testsuite/feelmesh/domain_3d.geo
  testsuite/feelmesh/domains_2d.geo
  testsuite/feelmesh/domains_3d.geo
  testsuite/feelmesh/test_remesh.cfg
  testsuite/feelmesh/test_remesh.cpp
  testsuite/feelmesh/test_remesh.json
  testsuite/feelmesh/test_remesh_relations.json
  testsuite/feelmesh/test_updatemarker.cpp
  testsuite/feelvf/test_forms.cpp
Labels: module:mesh, component: testsuite

#1867 Feature/mordicus
  .gitignore
  CMakePresets.json
  mor/CMakeLists.txt
  python/pyfeelpp-mor/feelpp/mor/toolboxmor.cpp
  python/pyfeelpp/feelpp/alg.cpp
  python/pyfeelpp/feelpp/discr.cpp
Labels: module:python, component: mor

#1877 1871 improve remesh control over boundary representation
  feelpp/feel/feelmesh/remesh.hpp
  feelpp/feel/feelmesh/remesher.cpp
  feelpp/feel/feelmesh/remesher.hpp
  feelpp/tools/mesh/mesh_exporter.cpp
  feelpp/tools/mesh/mesh_exporter.hpp
  feelpp/tools/mesh/mesh_partitioner.cpp
  feelpp/tools/mesh/mesh_partitioner.hpp
  python/pyfeelpp/feelpp/mesh.hpp
  testsuite/feelmesh/CMakeLists.txt
  testsuite/feelmesh/domains_2d_curved.geo
  testsuite/feelmesh/domains_3d_curved.geo
  testsuite/feelmesh/test_remesh.cpp
  testsuite/feelmesh/test_remesh_curved.json
Labels: type:feature
