Repository feelpp/feelpp, pull requests merged in 2022-03, with the labels that each got.

#1766 Prudhomm/issue1765
  CMakePresets.json
  feelpp/feel/feelcore/environment.cpp
  feelpp/feel/feelcore/environment.hpp
  feelpp/feel/feelcore/exceptions.cpp
  feelpp/feel/feelcore/json.hpp
  feelpp/feel/feelcore/parameter.hpp
  feelpp/feel/feelcore/repository.cpp
  feelpp/feel/feelcore/repository.hpp
  feelpp/feel/options.cpp
  feelpp/pyfeelpp/feelpp/core.cpp
  feelpp/pyfeelpp/tests/conftest.py
  feelpp/pyfeelpp/tests/test_core.py
  toolboxes/electric/cases/busbar/2d.cfg
  toolboxes/electric/cases/busbar/3d.cfg
  toolboxes/electric/cases/quarter-turn/2d.cfg
  toolboxes/electric/cases/quarter-turn/3d.cfg
Labels: module:core

#1800 Feature/importer samcef
  feelpp/feel/feelcore/unwrapptr.hpp
  feelpp/feel/feeldiscr/doffromelement.hpp
  feelpp/feel/feeldiscr/doffrommortar.hpp
  feelpp/feel/feeldiscr/doftable.hpp
  feelpp/feel/feeldiscr/mesh.hpp
  feelpp/feel/feeldiscr/meshimpl.hpp
  feelpp/feel/feelfilters/detail/meshcontiguousnumberingmapping.hpp
  feelpp/feel/feelfilters/enums.hpp
  feelpp/feel/feelfilters/exporterensight_impl.hpp
  feelpp/feel/feelfilters/importergmsh.hpp
  feelpp/feel/feelfilters/importersamcefmesh.hpp
  feelpp/feel/feelfilters/loadmesh.hpp
  feelpp/feel/feelfilters/partitionio.hpp
  feelpp/feel/feelmesh/edges.hpp
  feelpp/feel/feelmesh/elements.hpp
  feelpp/feel/feelmesh/entitymarkers.hpp
  feelpp/feel/feelmesh/faces.hpp
  feelpp/feel/feelmesh/filters.hpp
  feelpp/feel/feelmesh/geo0d.hpp
  feelpp/feel/feelmesh/geoentity.hpp
  feelpp/feel/feelmesh/geond.hpp
  feelpp/feel/feelmesh/marker.hpp
  feelpp/feel/feelmesh/mesh3d.hpp
  feelpp/feel/feelmesh/meshbase.hpp
  feelpp/feel/feelmesh/points.hpp
  feelpp/feel/feelmesh/refhypercube.hpp
  feelpp/feel/feelmesh/refsimplex.hpp
  feelpp/feel/feelmesh/remesher.hpp
  feelpp/feel/feelpoly/geomap.hpp
  testsuite/feelmesh/CMakeLists.txt
  testsuite/feelmesh/test_meshmarker.cfg
  testsuite/feelmesh/test_meshmarker.cpp
  testsuite/feelmesh/test_meshmarker_square_4mat.geo
Labels: module:mesh

#1803 update nlohman json to 3.10.5 Prudhomm/issue1737
  feelpp/CMakeLists.txt
  feelpp/feel/CMakeLists.txt
  feelpp/feel/feelcore/_json.hpp
  feelpp/feel/feelcore/exceptions.cpp
  feelpp/feel/feelcore/json.hpp
  testsuite/feelcore/CMakeLists.txt
  testsuite/feelcore/test_json.cpp
Labels: env: cmake, status:third-party-software

#1786 Feature/pbdw
  feelpp/cmake/modules/feelpp.macros.cmake
  feelpp/feel/feeldiscr/sensors.hpp
  feelpp/feel/feelmodels/modeloutputs.cpp
  feelpp/feel/feelmodels/modeloutputs.hpp
  feelpp/feel/options.cpp
  feelpp/pyfeelpp/feelpp/discr.cpp
  feelpp/pyfeelpp/feelpp/operators.cpp
  mor/apps/opusheat/opusheat-cfpdes.json
  mor/apps/opusheat/opusheat-heat.cfg
  mor/apps/opusheat/opusheat-heat.json
  mor/apps/toolboxmor_cfpdes.cpp
  mor/apps/toolboxmor_heat.cpp
  mor/cases/testcase/linear/linear.cfg
  mor/cases/testcase/linear/linear.json
  mor/cases/testcase/linear/testcase.geo
  mor/cases/thermal-fin/2d/fin.geo
  mor/cases/thermal-fin/3d/fin.geo
  mor/mor/feel/feelmor/geim.hpp
  mor/mor/feel/feelmor/modelcrbbase.hpp
  mor/mor/feel/feelmor/pbdw.hpp
  mor/mor/feel/feelmor/toolboxmor.hpp
  mor/mor/feel/feelmor/toolboxmor_impl.hpp
  mor/pyfeelpp-mor/CMakeLists.txt
  mor/pyfeelpp-mor/feelpp/mor/CMakeLists.txt
  mor/pyfeelpp-mor/feelpp/mor/pbdw.cpp
  mor/pyfeelpp-mor/feelpp/mor/pbdw.py
  mor/pyfeelpp-mor/feelpp/mor/pbdw/CMakeLists.txt
  mor/pyfeelpp-mor/feelpp/mor/reducedbasis/CMakeLists.txt
  mor/pyfeelpp-mor/feelpp/mor/reducedbasis/__init__.py
  mor/pyfeelpp-mor/feelpp/mor/reducedbasis/reducedbasis.py
  mor/pyfeelpp-mor/feelpp/mor/reducedbasis/reducedbasis_time.py
  mor/pyfeelpp-mor/feelpp/mor/toolboxmor.cpp
  mor/pyfeelpp-mor/generate_basis.py
  mor/pyfeelpp-mor/tests/.gitignore
  mor/pyfeelpp-mor/tests/CMakeLists.txt
  mor/pyfeelpp-mor/tests/conftest.py
  mor/pyfeelpp-mor/tests/test_generate_basis.py
  mor/pyfeelpp-mor/tests/test_mor.py
  mor/pyfeelpp-mor/tests/test_reducedbasis.py
  mor/pyfeelpp-mor/tests/test_reducedbasis_time.py
  mor/pyfeelpp-mor/tests/testcase/test.cfg
  mor/pyfeelpp-mor/tests/testcase/test.geo
  mor/pyfeelpp-mor/tests/testcase/test.json
  mor/pyfeelpp-mor/tests/thermal-fin
  mor/tests/feelmor/test_empiricalquadrature.cpp
  mor/tests/feelmor/test_pbdw.cpp
  toolboxes/generator/cases/thermal_fin/case_generator.py
  toolboxes/generator/cases/thermal_fin/case_generator_thermal_fin.adoc
Labels: type:feature, module:crb, type:refactoring, design, component: mor
