Repository feelpp/feelpp, pull requests merged in 2023-03, with the labels that each got.

#2050 2049 memory allocation for linear and bilinear forms behave differently
  doc/manual/nonlinear/nonlinearpow.cpp
  feelpp/feel/feelvf/linearform.hpp
Labels: type:refactoring

#2053 Resolves: add meshMove python interface
  README.adoc
  python/notebooks/CMakeLists.txt
  python/notebooks/feelpp2.ipynb
  python/notebooks/notebook-expr.ipynb
  python/notebooks/notebook-toolbox-cfpdes.ipynb
  python/notebooks/notebook-toolbox-heat.ipynb
  python/pyfeelpp-toolboxes/feelpp/toolboxes/coefficientformpdes/__init__.py
  python/pyfeelpp-toolboxes/feelpp/toolboxes/coefficientformpdes/cfpdes.cpp
  python/pyfeelpp/feelpp/CMakeLists.txt
  python/pyfeelpp/feelpp/exporter.cpp
  python/pyfeelpp/feelpp/meshmover.cpp
  python/pyfeelpp/feelpp/meshmover.py
  python/pyfeelpp/tests/CMakeLists.txt
  python/pyfeelpp/tests/test_meshmover.py
Labels: module:python

#2063 resolves 2058: minor interface updates and tests cleanup
  feelpp.version.cmake
  python/pyfeelpp-mor/feelpp/mor/nirb/nirb.py
  python/pyfeelpp/feelpp/CMakeLists.txt
  python/pyfeelpp/feelpp/__init__.py.in
  python/pyfeelpp/feelpp/core.cpp
  python/pyfeelpp/feelpp/exporter.cpp
  python/pyfeelpp/feelpp/mesh.hpp
  python/pyfeelpp/feelpp/plot.cpp
  python/pyfeelpp/feelpp/plotly.py
  python/pyfeelpp/feelpp/vf.cpp
  python/pyfeelpp/tests/CMakeLists.txt
  python/pyfeelpp/tests/cases/feelpp2d
  python/pyfeelpp/tests/cases/feelpp3d
  python/pyfeelpp/tests/conftest.py
  python/pyfeelpp/tests/test_discr.py
  python/pyfeelpp/tests/test_exporter.py
  python/pyfeelpp/tests/test_interpolation.py
  python/pyfeelpp/tests/test_mesh.py
  python/pyfeelpp/tests/test_meshmover.py
  python/pyfeelpp/tests/test_timing.py
Labels: module:python

#2067 Resolves: Bad lexical cast when reading fieldsplit fields with more than one figure
  feelpp/feel/feelalg/datamap.cpp
Labels: type:bug, module:alg
