Repository feelpp/feelpp, pull requests merged in 2023-08, with the labels that each got.

#2129 resolves 2123: enable dim different from realdim in BVH
  feelpp/feel/feelmesh/bvh.hpp
  feelpp/feel/feelviewfactor/raytracingviewfactor.hpp
  feelpp/tools/mesh/mesh_partitioner.cpp
  testsuite/feelmesh/test_bvh.cpp
Labels: :sparkles: type:feature

#2146 resolves 2143: clean mor
  CMakeLists.txt
  CMakePresets.json
  mor/CMakeLists.txt
  mor/apps/CMakeLists.txt
  mor/apps/crbonlinerun.cpp
  mor/examples/CMakeLists.txt
  mor/examples/advection-diffusion-2d-1/CMakeLists.txt
  mor/examples/heat3d/heat3d/heat3d.cfg
  mor/examples/heatshield/heatshield-minimalversion.hpp
  mor/examples/heatshield/heatshield.hpp
  mor/examples/heatshield/heatshieldminimalversion1app.cpp
  mor/examples/heatshield/heatshieldminimalversion2app.cpp
  mor/examples/heatshield/heatshieldminimalversion3app.cpp
  mor/examples/opusheat/CMakeLists.txt
  mor/examples/opusheat/opusheat-stationaryapp.cpp
  mor/examples/opusheat/opusheat.hpp
  mor/examples/opusheat/opusheat/opusheat-stationary.cfg
  mor/examples/opusheat/opusheat/opusheat.cfg
  mor/examples/opusheat/opusheat_impl.cpp
  mor/examples/opusheat/opusheatapp.cpp
  mor/examples/thermalbuilding/thermalbuildingapp.cpp
  mor/examples/thermoelectric/CMakeLists.txt
  mor/mor/feel/feelmor/CMakeLists.txt
  mor/mor/feel/feelmor/crb.hpp
  mor/mor/feel/feelmor/crbdata.hpp
  mor/mor/feel/feelmor/crbdb.cpp
  mor/mor/feel/feelmor/crbmodel.hpp
  mor/mor/feel/feelmor/crbmodeldb.cpp
  mor/mor/feel/feelmor/crbmodelparameters.cpp
  mor/mor/feel/feelmor/modelcrbbase.hpp
  mor/mor/feel/feelmor/mormodels.cpp
  mor/mor/feel/feelmor/mormodels.hpp
  mor/mor/feel/feelmor/parameterspace.hpp
  mor/mor/feel/feelmor/zip.cpp
  mor/mor/feel/feelmor/zip.hpp
  mor/research/CMakeLists.txt
  mor/tests/feelmor/CMakeLists.txt
  mor/tests/feelmor/test_db.cfg
  mor/tests/feelmor/test_db.cpp
  mor/tests/feelmor/test_parameterspace.cpp
  python/CMakeLists.txt
  python/notebooks/notebook-mor-online.ipynb
  python/pyfeelpp-mor/feelpp/mor/crb.cpp
  python/pyfeelpp-mor/feelpp/mor/nirb/nirb.py
  python/pyfeelpp-mor/feelpp/mor/nirb/run_nirb_perf.py
  python/pyfeelpp-mor/feelpp/mor/nirb/test_nirb_online.ipynb
  python/pyfeelpp-mor/feelpp/mor/nirb/utils.py
  python/pyfeelpp-mor/feelpp/mor/online.py
  python/pyfeelpp-mor/feelpp/mor/test_heat3d.py
  python/pyfeelpp-mor/feelpp/mor/test_parameterspace.py
  python/pyfeelpp-mor/tests/test_mor.py
Labels: :sparkles: type:feature, module:crb, type:refactoring, type:clean-code

#2157 2154 refactoring bvh cpp classes
  feelpp/contrib/CMakeLists.txt
  feelpp/feel/feelcore/parameter.hpp
  feelpp/feel/feelmesh/bvh.hpp
  feelpp/feel/feelviewfactor/raytracingviewfactor.hpp
  feelpp/tools/scripts/buildkite/install-feelpp.sh
  testsuite/feelmesh/CMakeLists.txt
  testsuite/feelmesh/test_bvh.cfg
  testsuite/feelmesh/test_bvh.cpp
  testsuite/feelmesh/test_bvh2d.cfg
  testsuite/feelmesh/test_bvh3d.cfg
Labels: module:mesh
