Repository feelpp/feelpp, pull requests merged in 2023-06, with the labels that each got.

#2101 resolves 2095: enable mesh distance metric with respect to arbitrary markers
  feelpp/feel/feelmesh/metric.hpp
  feelpp/feel/feelmesh/remesh.hpp
  testsuite/feelmesh/CMakeLists.txt
  testsuite/feelmesh/test_remesh_gradedls.cfg
  testsuite/feelmesh/test_remesh_gradedls.cpp
  testsuite/feelmesh/test_remesh_gradedls.json
Labels: :sparkles: type:feature, module:mesh

#2116 resolves 2115: Add mesh, setMesh and updateParameterValues methods to the solid toolbox bindings
  python/pyfeelpp-toolboxes/feelpp/toolboxes/solid/solid.cpp
Labels: :sparkles: type:feature, :snake: module:python

#2119 resolves 2115: add mesh setmesh and updateparametervalues methods to the solid python toolbox
  feelpp.version.cmake
  python/pyfeelpp-toolboxes/feelpp/toolboxes/solid/solid.cpp
Labels: :sparkles: type:feature, :snake: module:python

#2117 Fix advection diffusion MOR example #2114
  mor/examples/advection-diffusion-2d-1/CMakeLists.txt
  mor/examples/advection-diffusion-2d-1/ad.cfg
  mor/examples/advection-diffusion-2d-1/ad.cpp
  mor/examples/advection-diffusion-2d-1/ad.hpp
Labels: :lady_beetle: type:bug, module:crb, component: mor

#2121 2098-compute-effectivity
  mor/examples/eye2brain/.gitignore
  mor/mor/feel/feelmor/opusapp.hpp
  mor/mor/feel/feelmor/opusapp_impl.hpp
Labels: :sparkles: type:feature, module:crb
