Repository feelpp/feelpp, pull requests merged in 2024-07, with the labels that each got.

#2249 2246 fix non blocking mpi communication
  data/geo/primitives/torus.geo
  feelpp/feel/feelalg/datamap.cpp
  feelpp/feel/feelalg/vector.cpp
  feelpp/feel/feeldiscr/createsubmesh.hpp
  feelpp/feel/feeldiscr/meshimpl.hpp
  feelpp/feel/feeldiscr/operatorinterpolation.hpp
  feelpp/feel/feelfilters/detail/meshcontiguousnumberingmapping.hpp
  feelpp/feel/feelfilters/importergmsh.hpp
  feelpp/feel/feelfilters/partitionio.hpp
  feelpp/feel/feelmesh/filters.hpp
  feelpp/feel/feelmesh/meshsupport.hpp
  feelpp/tools/mesh/cases/partitioner_examples/case2d.cfg
  feelpp/tools/mesh/cases/partitioner_examples/case2d.json
  feelpp/tools/mesh/cases/partitioner_examples/domain2d.geo
  feelpp/tools/mesh/mesh_partitioner.cpp
  feelpp/tools/mesh/mesh_partitioner.hpp
  feelpp/tools/mesh/mesh_partitioner_hypercube.cpp
  feelpp/tools/mesh/mesh_partitioner_impl.hpp
  feelpp/tools/mesh/mesh_partitioner_simplex.cpp
  feelpp/tools/mesh/partitioner.adoc
Labels: env: mpi, tools

#2236 resolves 2233: improve hdg toolbox
  .devcontainer/devcontainer.json
  .devcontainer/feelppconfig.sh
  python/pyfeelpp-toolboxes/feelpp/toolboxes/core/__init__.py
  python/pyfeelpp-toolboxes/feelpp/toolboxes/hdg/hdg-poisson.hpp
  python/pyfeelpp-toolboxes/tests/conftest.py
  python/pyfeelpp-toolboxes/tests/hdg
  python/pyfeelpp-toolboxes/tests/test_hdg.py
  toolboxes/feel/feelmodels/hdg/mixedpoisson.hpp
  toolboxes/feel/feelmodels/hdg/mixedpoissonassembly.hpp
  toolboxes/hdg/.tests.hdg_poisson
  toolboxes/hdg/cases/poisson/convection-diffusion/convection-diffusion-2d-square.cfg
  toolboxes/hdg/cases/poisson/convection-diffusion/convection-diffusion-2d-square.json
  toolboxes/hdg/cases/poisson/convection-diffusion/square.geo
Labels: :sparkles: type:feature

#2260 resolves 2259: add script to get feelpp version
  .github/workflows/pkg-apptainer.yml
  .github/workflows/pkg-containers.yml
  .github/workflows/pkg-dist.yml
  .github/workflows/pkg-docker.yml
  .github/workflows/pkg-factory.yml
  .github/workflows/pkg.yml
  .github/workflows/version.yml
  bin/feelpp
Labels: :sparkles: type:feature, :package: :whale: docker, :package: packaging
